header {
  opacity: 95%;
  width: 100%;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  z-index: 99;
  align-items: center;
  gap: 1em;
}

@media screen and (max-width: 600px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
  }
  .brand {
    margin-right: 70px;
  }
  #main {
    padding-top: 200px;
  }
}
